<footer class="d-flex pb-5 pt-6 pt-md-7 border-top border-light bg-primary" id="contact">
    <div class="container">
        <!-- Alert box -->
    <div style="display: flex;  justify-content:center;align-items:center;padding-bottom: 30px" class="alert-box">
        <div style="border: none;backgroun-color:#e4ebf5 !important" class=" alert-success" role="alert">
  	<h5 style="color:lightgreen">{{success}} </h5>
	</div>
	<div style="border: none; backgroun-color:#e4ebf5 !important"  class=" alert-danger" role="alert">
    <h3 style="color:Tomato">{{error}}</h3>
    </div>
    </div>

        <div class="row">
            <div class="col-12 col-lg-6 mb-5 mb-lg-0">
                <h5>Contact Us</h5> <br>
                <!-- form -->
            {{>form}}
            </div>


            <div class="col-12 col-lg-6 mb-5 mb-lg-0" style="border-left: 1px solid #D3D3D3; height: 250px; ">
                <h5 style="color: #1A99D5;">Have a Question or doubt ?</h5>

                <br>
                <p style="color: #31344b;"> Feel free to contact us without any hesitation by filling the form <br> with your name, email and your doubt. <br>
                We will love to respond you and answer your queries.<br> <br> Even you can mail us on <br>
                    <a style="color: #1A99D5;" href="mailto: support@hackwithagora.tech"> support@hackwithagora.tech</a> <br>
                <br>
                </p>
            </div>
        </div>
        <hr class="my-5">
        <div class="row">
            <div class="col">
                <a href="/" target="_blank" class="d-flex justify-content-center">
                    <img src="./img/logo.png" height="50" class="mb-3" alt="jwoc Logo">
                </a>
            <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                <p class="font-weight-normal font-small mb-0">Copyright © HackWithAgora
                    <span class="current-year">2021</span>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
 </footer>