<div class="section-header pb-6 overflow-hidden text-center " id="Prize">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-12 col-md-8">
                      <div class="alert shadow-inset ">
                              
                                  <h1><strong>Prize</strong></h1>
                         
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!--######################### Prize #################################-->


        <section class="section section-lg pt-0">
    
            <div class="container">
                <div class="row justify-content-between">
        
                    <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-5">
                        <!-- Profile Card -->
                        <div class="profile-card mb-5">
                            <div class="card bg-primary shadow-soft border-light">
                                <div class="profile-image  ml-6 mt-n6">
                                    <img src="./img/2.png" class="card-img-top rounded-circle" alt="Team-lead">
                                </div>
                                <div style="text-align: center;" class="card-body">
                                    <h3 class="h5 mb-2"><b>Silver Edition</b></h3>
                                    <span class="h6 font-weight-normal text-gray mb-3">Agora tee, Stickers and certificates</span>
                                    <div class="btn-wrapper my-4">
                                        
                                        
                                    </div>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        <!-- End of Profile Card -->
                    </div>
        
                    <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-5">
                        <!-- Profile Card -->
                        <div style="text-align: center;" class="profile-card mb-5">
                            <div class="card bg-primary shadow-soft border-light">
                                <div class="profile-image  ml-6 mt-n6">
                                    <img src="./img/1.png" class="card-img-top rounded-circle" alt="Speaker">
                                </div>
                                <div class="card-body">
                                    <h3 class="h5 mb-2"><b>Gold Edition</b></h3>
                                    <span class="h6 font-weight-normal text-gray mb-3">Agora Special Swag kit including Tee,bottle and many more as well as some Cash prize</span>
                                    <div class="btn-wrapper my-4">
                                        
                                        <button style="visibility:hidden" class="btn btn-primary btn-pill btn-icon-only text-github mr-2" type="button" aria-label="github" title="github">
                                            
                                        </button>
                                        
                                    </div>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        <!-- End of Profile Card -->
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-5">
                        <!-- Profile Card -->
                        <div style="text-align: center;" class="profile-card mb-5">
                            <div class="card bg-primary shadow-soft border-light">
                                <div class="profile-image  ml-6 mt-n6">
                                    <img src="./img/3.png" class="card-img-top rounded-circle" alt="Christopher Avatar">
                                </div>
                                <div class="card-body">
                                    <h3 class="h5 mb-2"><b>Bronze Edition</b></h3>
                                    <span class="h6 font-weight-normal text-gray mb-3">Agora Tee,Stickers and certificate.</span>
                                    <div class="btn-wrapper my-4">
                                        
                                    </div>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        <!-- End of Profile Card -->
                    </div>           
                </div>
            </div>
        </section>