<div class="section-header pb-6 overflow-hidden text-center " id="Timeline">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-12 col-md-8">
                      <div class="alert shadow-inset ">
                              
                                  <h3 >Timeline for 2k21</h3>
                         
                      </div>
                  </div>
              </div>
          </div>
      </div>

<section>
      <div class="event-container">
        <div class="event">
          <div class="event-left">
            <div class="event-date">
              <div class="date">23</div>
              <div class="month">Dec</div>
            </div>
          </div>

          <div class="event-right">
            <h3 class="event-title">Theme Annoucement</h3>

            <div class="event-description">
              Annoucement of hackathon theme
            </div>
            
              <div class="event-timing">
                 <a  href="/download">Download</a>
              </div>
            
          </div>
        </div>

        <div class="event">
          <div class="event-left">
            <div class="event-date">
              <div class="date">23</div>
              <div class="month">Dec</div>
            </div>
          </div>

          <div class="event-right">
            <h3 class="event-title">Registration Start</h3>

            <div class="event-description">
              Register your team for the Hackathon
            </div>
            
              <div class="event-timing">
                 <a href="/register">Register</a>
              </div>
            
          </div>
        </div>

        <div class="event">
          <div class="event-left">
            <div class="event-date">
              <div class="date">25</div>
              <div class="month">Dec</div>
            </div>
          </div>

          <div class="event-right">
            <h3 class="event-title">Submission </h3>

            <div class="event-description">
              Submit your projects according to the guidline
            </div>

            <div class="event-timing">
               <a href="/register">Submit</a>
            </div>
          </div>
        </div>

        <div class="event">
          <div class="event-left">
            <div class="event-date">
              <div class="date">28</div>
              <div class="month">Dec</div>
            </div>
          </div>

          <div class="event-right">
            <h3 class="event-title">Last Date of Submission</h3>

            <div class="event-description">
              Submission will close after 28th Dec
            </div>
            <div class="event-timing">
               <a href="/register">Submit</a>
            </div>
          </div>
        </div>

        <div class="event">
          <div class="event-left">
            <div class="event-date">
              <div class="date">30</div>
              <div class="month">Dec</div>
            </div>
          </div>

          <div class="event-right">
            <h3 class="event-title">Result Annoucement</h3>

            <div class="event-description">
              We will pick up the best projects 
            </div>
            
              <div class="event-timing">
                 <a href="/ranklist">Winners</a>
              </div>
            
          </div>
        </div>

        <div class="event">
          <div class="event-left">
            <div class="event-date">
              <div class="date">30</div>
              <div class="month">Jan</div>
            </div>
          </div>

          <div class="event-right">
            <h3 class="event-title">Event End</h3>

            <div class="event-description">
              End of the programme 
            </div>
            
              <div class="event-timing">
                 <a href="https://bit.ly/3tO2xjI" target="_blank">Feedback</a>
              </div>
            
          </div>
        </div>

      </div>
    </section>