<!--header -->
{{>header}}

<!--navigation -->
<style>
    .success{
        color: rgb(43, 43, 43);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
    .message{
        padding: 100px;
    }
    p{
        font-size: 1rem;
        font-weight: 400;
        max-width: 500px;
        margin: 25px;
    }
    h1{
        text-align: center;
    }
    
</style>
<body>
    <header class="head" >
        <a href="/" class="logo"><span class="logo-hover"><span class="jgec"><img src="./img/logo.png" height="40px" alt="logo"></a>
        <ul>
        </ul>
        
    </header>

<section class="success">
    <div class="btns-container">
        <div class="justify-content-center">
            

                       <h2>Applicability</h2>

<p>This code of conduct applies to the entirety of the Hackathon including events that take place before and after such as talks, presentations, or demos, workshops, parties and social events, and social media campaigns. </p>

<p>This is applicable to all who are involved in the Hackathon, including but not limited to sponsors and partners.</p>

<h3>No plagiarism or re-using of past work</h3>

<p>Any project submitted should be prepared in the duration of the hackathon. If anyone is found to have re-used code or re-submitted a project made earlier for any purpose, it would lead to immediate disqualification.</p>

<p>The organizing committee holds the right to disqualify any candidate/team on these grounds, without prior notice of any kind.</p>



    <h2>Safe space for all</h2>
<p>Hackathons hosted by JGECxAGORA are dedicated to providing a safe and comfortable environment for everyone. No discrimination, on the basis of the following, shall be tolerated: </p>

<ul>
<li>gender</li>
<li>gender identity and expression</li>
<li>age</li>
<li>sexual orientation</li>
<li>disability</li>
<li>physical appearance</li>
<li>body size</li>
<li>race</li>
<li>ethnicity</li>
<li>nationality</li>
<li>religion</li>
<li>political views</li>
</ul>

<h2>Anti-harassment Policy</h2>
<p>
We do not tolerate harassment in any form, including offensive discriminatory verbal comments, public display of non-consensual material, unwelcome sexual advances, and the taking of photographs and audio/video recordings.</p>

<h2>Unacceptable Behaviour</h2>

<p> None associated with the hackathon can engage in any intimidation, harassment, or abusive or discriminatory behaviour.
</p>

<h2>Reporting Policy</h2>

<p>If you notice any violation of this Code of Conduct or find any suspicious behaviour, please contact a member of the JGECxAGORA hackathon organizing committee immediately.</p>

<p>All complaints made will remain confidential and be taken seriously.</p>

<p>We value your attendance.</p>

<h2>Consequences of Violation</h2>

<h3>Consequences of Violation</h3>

<ul>
    <li>Expel them from the current Hackathon as well as any future events conducted by JGECxAGORA</li>
    <li>Take legal action if deemed necessary</li>
</ul>



        </div>
    </div>

    <div class="message">
        <div class="justify-content-center">
        <a  style="color: #1A99D5;" class="btn btn-primary p-2" href="/">
        <span class="fas fa-home mr-2"></span>Back to Main Page</a>
                            
         </div>
    </div>

</section>

{{>footer}}
</body>
</html>
