<!--header -->
{{>header}}

<!--navigation -->
<style>
    .success{
        color: rgb(43, 43, 43);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
    .message{
        padding: 100px;
    }
    p{
        font-size: 1rem;
        font-weight: 400;
        max-width: 500px;
        margin: 25px;
    }
    h1{
        text-align: center;
    }
    
</style>
<body>
    <header class="head" >
        <a href="/" class="logo"><span class="logo-hover"><span class="jgec"><img src="./img/logo.png" height="40px" alt="logo"></a>
        <ul>
        </ul>
        
    </header>

<section class="success">
    <div class="btns-container">
        <div class="justify-content-center">
            <h1>Submission Guidelines</h1>
            <p>
● A team can register only once with a unique team name. <br>
● Make sure your Github repository is public before sharing it with us. <br>
● Before submitting, you should go through the Code of Conduct and Rules 
for the hackathon.<br>
● If there are multiple submission for the same project, we will consider the
last one. <br>
● Only team leader/ Registered Participant will make submission. <br>
● All code and project should be hosted on GitHub with documentation. <br>
● Your Design/Idea should Align with the theme. <br>
● No exception will be made in case you surpass the deadline 

            </p>
        </div>
    </div>

    <div class="message">
        <div class="justify-content-center">
        <a  style="color: #1A99D5;" class="btn btn-primary p-2" href="/">
        <span class="fas fa-home mr-2"></span>Back to Main Page</a>
                            
         </div>
    </div>

</section>

{{>footer}}
</body>
</html>
