{{>header}}


<style>
    .success{
        color: rgb(43, 43, 43);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
    .message{
        padding: 10px;
    }
    
</style>
<body>
    <header class="head" >
        <a href="/" class="logo"><span class="logo-hover"><span class="jgec"><img src="./img/logo.png" height="40px" alt="logo"></a>
    </header>

 <!--TEAM-->
        <div class="section-header pb-0 overflow-hidden text-center" >
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10">
                        <div class="alert shadow-inset ">          
                                    <h1>Winners</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>   

<section class="success">
    <div class="btns-container">
        <div class="justify-content-center">
           
           
           <table class="table shadow-soft rounded">
    <tr>
        <th class="border-0" scope="col" id="class">Class</th>
        <th class="border-0" scope="col" id="teacher">Teacher</th>
        <th class="border-0" scope="col" id="males">Males</th>
        <th class="border-0" scope="col" id="females">Females</th>
    </tr>
    <tr>
        <th scope="row" id="firstyear" rowspan="2">First Year</th>
        <th scope="row" id="Bolter" headers="firstyear teacher">D. Bolter</th>
        <td headers="firstyear Bolter males">5</td>
        <td headers="firstyear Bolter females">4</td>
    </tr>
    <tr>
        <th scope="row" id="Cheetham" headers="firstyear teacher">A. Cheetham</th>
        <td headers="firstyear Cheetham males">7</td>
        <td headers="firstyear Cheetham females">9</td>
    </tr>
    <tr>
        <th scope="row" id="secondyear" rowspan="3">Second Year</th>
        <th scope="row" id="Lam" headers="secondyear teacher">M. Lam</th>
        <td headers="secondyear Lam males">3</td>
        <td headers="secondyear Lam females">9</td>
    </tr>
    <tr>
        <th scope="row" id="Crossy" headers="secondyear teacher">S. Crossy</th>
        <td headers="secondyear Crossy males">4</td>
        <td headers="secondyear Crossy females">3</td>
    </tr>
    <tr>
        <th scope="row" id="Forsyth" headers="secondyear teacher">A. Forsyth</th>
        <td headers="secondyear Forsyth males">6</td>
        <td headers="secondyear Forsyth females">9</td>
    </tr>
</table>
           
           
           
        </div>
    </div>
</section>

{{>footer}}
</body>
</html>
