{{>header}}


<style>
    .success{
        color: rgb(43, 43, 43);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
    .message{
        padding: 10px;
    }
    
</style>
<body>
    <header class="head" >
        <a href="/" class="logo"><span class="logo-hover"><span class="jgec"><img src="./img/logo.png" height="40px" alt="logo"></a>
    </header>

 <!--TEAM-->
        <div class="section-header pb-0 overflow-hidden text-center" >
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10">
                        <div class="alert shadow-inset ">          
                                    <h1>Winners</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>   

<section class="success">
    <div class="btns-container">
        <div class="justify-content-center">
            <table class="table shadow-soft rounded">
    <tr>
        <th style="color: #1A99D5;" class="border-0" scope="col" id="class"> <i class="fas fa-users"> </i>  Team</th>
        <th style="color: #1A99D5;" class="border-0" scope="col" id="teacher"> <i class="fas fa-user"></i> Member's Name</th>
        <th style="color: #1A99D5;" class="border-0" scope="col" id="males"> <i class="fas fa-university"></i>  College</th>
        <th style="color: #1A99D5;" class="border-0" scope="col" id="females"> <i class="fas fa-book-reader"></i> Year of Study</th>
        <th style="color: #1A99D5;" class="border-0" scope="col" id="females"> <i class="fas fa-trophy"></i> Ranking</th>
        <th style="color: #1A99D5;" class="border-0" scope="col" id="females"><i class="fas fa-link"></i> Project Link</th>
    </tr>
    <tr>
        <th scope="row" id="firstyear" rowspan="2">----</th>
        <th scope="row" id="Bolter" headers="firstyear teacher">---</th>
        <td headers="firstyear Bolter males">---</td>
        <td headers="firstyear Bolter females">---</td>
        <td headers="firstyear Bolter females">---</td>
        <td headers="firstyear Bolter females">---</td>
    </tr>
    <tr>
        <th scope="row" id="Cheetham" headers="firstyear teacher">---</th>
        <td headers="firstyear Cheetham males">---</td>
        <td headers="firstyear Cheetham females">---</td>
        <td headers="firstyear Cheetham females">---</td>
        <td headers="firstyear Cheetham females">---</td>
    </tr>
    <tr>
        <th scope="row" id="secondyear" rowspan="3">---</th>
        <th scope="row" id="Lam" headers="secondyear teacher">---</th>
        <td headers="secondyear Lam males">---</td>
        <td headers="secondyear Lam females">---</td>
        <td headers="secondyear Lam females">---</td>
        <td headers="secondyear Lam females">---</td>
    </tr>
    <tr>
        <th scope="row" id="Crossy" headers="secondyear teacher">---</th>
        <td headers="secondyear Crossy males">---</td>
        <td headers="secondyear Crossy females">---</td>
        <td headers="secondyear Crossy females">---</td>
        <td headers="secondyear Crossy females">---</td>
    </tr>
    <tr>
        <th scope="row" id="Forsyth" headers="secondyear teacher">---</th>
        <td headers="secondyear Forsyth males">---</td>
        <td headers="secondyear Forsyth females">---</td>
        <td headers="secondyear Forsyth females">---</td>
        <td headers="secondyear Forsyth females">---</td>
    </tr>
    
</table>
        </div>
    </div>
</section>

{{>footer}}
</body>
</html>
