{{>header}}


<style>
    .success{
        color: rgb(43, 43, 43);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
    .message{
        padding: 10px;
    }
    
</style>
<body>
    <header class="head" >
        <a href="/" class="logo"><span class="logo-hover"><span class="jgec"><img src="./img/logo.png" height="40px" alt="logo"></a>
    </header>

 <!--TEAM-->
        <div class="section-header pb-0 overflow-hidden text-center" >
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10">
                        <div class="alert shadow-inset ">          
                                    <h1>Winners</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>   

<section class="success">
    <div class="btns-container">
        <div class="justify-content-center">
           
           
           <table class="table shadow-soft rounded">
    <tr>
        <th class="border-0" scope="col" id="class">TEAM</th>
        <th class="border-0" scope="col" id="teacher">TEAM MEMBERS</th>
        <th class="border-0" scope="col" id="males">COLLEGE</th>
        <th class="border-0" scope="col" id="females">RANKING</th>
    </tr>
    <tr>
        <th scope="row" id="firstyear" rowspan="2">LUCIFER</th>
        <th scope="row" id="Bolter" headers="firstyear teacher">Mohammad Sakib</th>
        <td headers="firstyear Bolter males">JGEC</td>
        <td headers="firstyear Bolter females">1</td>
    </tr>
    <tr>
        <th scope="row" id="Cheetham" headers="firstyear teacher">Tonay Sen</th>
        <td headers="firstyear Cheetham males">-</td>
        <td headers="firstyear Cheetham females">-</td>
         <th scope="row" id="Cheetham" headers="firstyear teacher">Sabik Aleem</th>
        <td headers="firstyear Cheetham males">-</td>
        <td headers="firstyear Cheetham females">-</td>
    </tr>
    
    <tr>
        <th scope="row" id="secondyear" rowspan="3">DOT PROGRAMMERS</th>
        <th scope="row" id="Lam" headers="secondyear teacher">Swadhin Paul</th>
        <td headers="secondyear Lam males">JGEC</td>
        <td headers="secondyear Lam females">2</td>
    </tr>
    <tr>
        <th scope="row" id="Crossy" headers="secondyear teacher">Sucil Dey</th>
        <td headers="secondyear Crossy males">JGEC</td>
        <td headers="secondyear Crossy females">-</td>
    </tr>
     <tr>
        <th scope="row" id="firstyear" rowspan="2">DEMON WARRIORS</th>
        <th scope="row" id="Bolter" headers="firstyear teacher">Mohammad Sakib</th>
        <td headers="firstyear Bolter males">JGEC</td>
        <td headers="firstyear Bolter females">3</td>
    </tr>
    <tr>
        <th scope="row" id="Cheetham" headers="firstyear teacher">SHREYAN MAJUMDAR</th>
        <td headers="firstyear Cheetham males">-</td>
        <td headers="firstyear Cheetham females">-</td>
         <th scope="row" id="Cheetham" headers="firstyear teacher">POULAMI PAUL</th>
        <td headers="firstyear Cheetham males">-</td>
        <td headers="firstyear Cheetham females">-</td>
    </tr>
</table>
           
           
           
        </div>
    </div>
</section>

{{>footer}}
</body>
</html>
