{{>header}}


<style>
    .success{
        color: rgb(43, 43, 43);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
    .message{
        padding: 10px;
    }
    
</style>
<body>
    <header class="head" >
        <a href="/" class="logo"><span class="logo-hover"><span class="jgec"><img src="./img/logo.png" height="40px" alt="logo"></a>
    </header>

 <!--TEAM-->
        <div class="section-header pb-0 overflow-hidden text-center" >
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10">
                        <div class="alert shadow-inset ">          
                                    <h1>Winners</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>   

<section class="success">
    <div class="btns-container">
        <div class="justify-content-center">
           
           
          <div class="row">
    <div class="col-12 col-md-10">
        <div class="card bg-primary shadow-soft border-light p-2 p-md-3">
            <div class="card-header rounded pb-0">
                <div class="post-meta mb-4">
                    <div class="media d-flex align-items-center justify-content-between">
                        <div class="post-group">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="23k followers" data-original-title="23k followers">
                                <img class="avatar-sm mr-2 img-fluid rounded-circle" src="https://github.com/ZiaCodes/hackWithAgora/blob/main/public/img/winner.png" alt="Jose portrait"> posted by Jose Leos
                            </a>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="btn-group">
                                <button class="btn btn-link border-0 dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="icon icon-sm">
                                        <span class="fas fa-ellipsis-h icon-secondary"></span>
                                    </span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#"><span class="fas fa-edit mr-2"></span>
                                        Edit post</a>
                                    <a class="dropdown-item text-danger" href="#"><span class="fa fa-trash mr-2"
                                            aria-hidden="true"></span>
                                        Delete post</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="../../assets/img/blog/blog-article-1.jpg" class="card-img-top rounded" alt="Webdeveloper desk">
            </div>
            <div class="card-body py-4">
                <a href="#">
                    <h3 class="h4 my-4">List of public corporations</h3>
                </a>
                <p class="card-text mb-4">All of the world's 10 largest companies as measured by market capitalization are American. Market capitalization is the total value of a company's entire purchased shares of stock...</p>
            </div>
            <div class="card-footer pt-0">
                <div class="d-flex flex-wrap flex-lg-nowrap align-items-center justify-content-between">
                    <div class="post-details mb-3 mb-lg-0">
              
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
           
           
           
        </div>
    </div>
</section>

{{>footer}}
</body>
</html>
